@font-face {
    font-family: "Timeburner";
    src: url("../fonts/timeburnernormal.ttf");
    src: url("../fonts/timeburnernormal.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Timeburner";
    src: url("../fonts/timeburnerbold.ttf");
    src: url("../fonts/timeburnerbold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}